#mainMenu{
  margin:10px;
  width:900px;
  font-family:sans-serif;
  display:flex;
}

#mainMenu li {
  display:block;
  width:120px;
  float:left;
  margin-left:2px;
  border:1px solid #000;
  padding:3px;
  text-align:center;
}

#mainMenu li:hover{
  background-color: #009;
  color:#fff;
}